@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");

/* .card-title {
  text-align: center;
} */

.movie-card {
  border: 2px solid white;
  box-shadow: 4px 2px 5px white;
  /* background-image: url("image.png");
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.6) !important;
  /* z-index: -30; */
  padding: 20px 20px 0px !important;
}

.movie-title {
  font-family: Abril Fatface !important;
  margin: 0px 0 20px !important;
  font-size: 24px !important;
  text-transform: uppercase;
  background-color: transparent;

  color: rgb(226, 171, 171);
  text-shadow: 3px 3px 2px rgba(206, 89, 55, 1);
  text-align: center;
}

.movie-image {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-shadow: 3px 3px 3px 3px white;
  /* padding: 5px; */
  /* background-color: rgba(128, 128, 128, 0.5); */
  /* background-color: #510916; */
  background-color: white;
  border-radius: 0px !important;
}

.movie-card-button {
  font-family: Abril Fatface;
  font-size: 20px;
  /* margin: auto !important; */
  padding-bottom: 10px;
  z-index: 1000;
  text-decoration: none !important;
  /* text-shadow: 1px 1px 1px white; */
  transition: all 0.3s ease-in-out;
  color: rgb(226, 171, 171);
  background-color: #510916;
  box-shadow: 2px 2px 2px rgb(226, 171, 171);
  width: 80%;
  margin-top: 10px;
}

.movie-card-button:hover {
  color: #510916;
  background-color: rgba(226, 171, 171);
  box-shadow: 2px 2px 2px #510916;
}

.movie-card-body {
  text-align: center;
}
