@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');

.genre-card {
  margin: 10em auto;
  width: 50%;

}

.genreview-home-button {
  margin-left: 45%;
  margin-bottom: 5px;
  
}

.genre-description {
  font-size: 25px;
  font-family: 'Big Shoulders Inline Text'
  
}

.genre-name {
  color: #8a0303;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Big Shoulders Inline Text';
  text-align: center;
}
