@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Staatliches&display=swap');

.registration-view {
  margin-top: 60px;
}

h3 {
  color: white !important;
  text-shadow: 3px 3px 4px #510916;
  font-family: Abril Fatface;
  margin-bottom: -80px;
  margin-top: 0px;
  font-size: 30px;
  text-align: center;
}

.btns-reg {
  text-align: center;
  margin-top: 30px;
  
}

.button-registration {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  background-color: #510916;
  opacity: .9;
  /* background-image: url("theater-4023278_1920.jpg"); */
  box-shadow: 2px 2px 2px black;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid white; */
  border: none !important;
  margin-right: 8px;
}

.button-to-login {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  background-color: #510916;
  opacity: .9;
  /* background-image: url("theater-4023278_1920.jpg"); */
  box-shadow: 2px 2px 2px black;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid white; */
  border: none !important;
  margin-right: 8px;
}

.button-registration:hover,
.button-to-login:hover{
  cursor: pointer;
  color: #440951;
  background-color: white;
  border: 1px solid #440951;
}


.registration-form{
  border: 4px solid #440951;
  box-shadow: 1px 1px 1px 1px #440951;
  /* background: url("image.png"); */
  background-color: rgba(256,256,256,.8);
  padding: 30px 0px 40px;
  border-radius: 10px;
  width: 30%;
  height: 80%;
  margin-top: 100px;
}

.registration-item {
  width: 80%;
  margin: 0px auto;
}

.registration-item .input{
  font-family: Abril Fatface;
  color: white !important;
  background-color: #510916!important;
  opacity: 0.55 !important;
  box-shadow: 2px 2px 2px 2px black !important;

}

.registration-item label{
  font-family: Abril Fatface;
  color: #510916!important;
  font-size: 18px;
}
