@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Staatliches&display=swap');

body {
  background-color: #e4ecf2;
  font-family: staatliches;
}

h3 {
  color: #690f38;
  text-align: center;
  margin-top: 2em;
  margin-bottom: .2em;
  font-size: 300%
}

.btns-reg {
  text-align: center;
  
}

.button-registration {
  margin-top: .7em;
  margin-right: 3px;
  width: 200px
}

.button-to-login {
  margin-top: .7em;
  width: 200px;
  background-color: #044266;
}