.favorite-movies {
  display: inline-block;
  
  margin-bottom: 1em;
  border: 2px solid white;
  box-shadow: 4px 2px 5px white; 
  /* background-image: url("image.png");
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.6) !important;
  /* z-index: -30; */
  padding: 20px 20px 0px !important;
  margin-left: 55px !important;
  margin-bottom: 30px !important;
  height: 400px;
  transition: all 1s ease-in-out;
}

/* .favorite-movies:hover{
transform: skew(20deg);
} */

.favorite-movies-title {
  color: white !important;
  text-shadow: 3px 3px 3px rgba(206, 89, 55, 1);
  font-family: Abril Fatface;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* .favorite-movies-title:hover + .favorite-movies{
  transform: skew(20deg) !important;
} */

.fav-movies-poster {
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
  transition: all .2s ease-in-out;
}

.fav-movies-poster:hover {
  transform: skew(5deg);
}





.card-img-top {
  height: 300px;
}

.profile-view {
  /* desktop width */
  /* width: 40%; */
  /* laptop width */
  width: 50%;
  margin: 100px auto 0px;
  background: transparent;
  z-index: 1000 !important;
  position: fixed;
  top: -96px !important;
  /* laptop position */
  left: 320px;
  /* larger desktop position */
  /* left: 570px; */
  /* desktop position */
  /* left: 450px; */
  /* border: 2px inset black; */
  font-family: Abril Fatface;
  
  padding: 0 !important;
  height: 80px;

}

.profile-view-container {
  background-color: transparent;
  height: 50px;
  width: 40%;
  position: fixed;
  top: 10px;
  left: 300px;
  z-index: 2000;
  padding: 0 !important;
  

}


.profile-credentials {
  display: flex;
  justify-content: space-evenly;
  margin-top: -20px;
 
}



.profile-text {
  font-family: Abril Fatface;
  color: white;
  height: 0.5em;
  font-size: 22px;
   text-shadow: 3px 3px 5px black;
}

.profile-text-shadow {
 
}

.profile-buttons {
  display: flex;
  justify-content: space-around;
  
}

.profile-button {
  font-family: Abril Fatface;
  background: transparent;
  margin-top: 0.3em;
  border: none !important;
  color: rgb(226, 171, 171);
}

.profile-button:hover {
  color: black;
  background-color: white !important;
}

.fav-movie-info,
.fav-movie-remove {
  font-family: Abril Fatface;
  text-decoration: none !important;
    color:rgba(206, 89, 55, 1) !important;
    /* background-color: rgba(256, 256, 256, 0.7); */
    transition: all .3s ease-in-out;
    
}

.fav-movie-info:hover,
.fav-movie-remove:hover {
  font-family: Abril Fatface;
  text-decoration: none !important;
    color: black !important;
    background-color: white;
}

.profile-card-buttons {

  display: flex;
  justify-content: space-between !important;
  margin-top: -15px;
}

.no-favorites {
  color: white;
  text-align: center;
  font-size: 30px;
}

/* 
@media all and (max-width: 530px) {
  .profile-view {
    width: 75%;
  }
}

@media all and (min-width: 530px) and (max-width: 650px) {
  .profile-view {
    width: 70%;
  }
}

@media all and (min-width: 650px) and (max-width: 770px) {
  .profile-view {
    width: 70%;
  }
}

@media all and (min-width: 770px) and (max-width: 995px) {
  .profile-view {
    width: 50%;
  }
}

@media all and (min-width: 995px) and (max-width: 1200px) {
  .profile-view {
    width: 40%;
  }
}

@media all and (min-width: 1200px) {
  .profile-view {
    width: 31%;
  }
} */
