.profile-update h3{
  color: white !important;
  text-shadow: 4px 4px 3px black;
  font-family: Abril Fatface;
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 30px;
}

.btns-update {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -10px;
}

.button-update-profile:hover,
.button-cancel:hover {
  transform: scaleX(1.05) scaleY(1.05);
 
  cursor: pointer;
 
  background-color: white;
  
}

.button-update-profile {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  /* background-color: #440951; */
  opacity: 1;
  background-image: url("image.png");
  box-shadow: 2px 2px 2px black;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid white; */
  border: 1px solid black !important;
  margin-right: 15px;
}

.button-cancel {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  /* background-color: #440951; */
  opacity: 1;
  background-image: url("image.png");
  box-shadow: 2px 2px 2px black;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid white; */
  border: 1px solid black !important;
}

.update-form{
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  /* background: url("image.png"); */
  background-color: rgba(256,256,256, .1);
  padding: 30px 0px 40px;
  border-radius: 10px;
  width: 30%;
  height: 80%;
  /* laptop margin */
  margin-top: 110px;
}

.update-item {
  width: 80%;
  margin: 0px auto;
}

.update-item .input{
  font-family: Abril Fatface;
  color: white !important;
  background-color: #510916!important;
  opacity: 1 !important;
  box-shadow: 2px 2px 2px 2px black !important;
  margin-bottom: 40px !important

}

.update-item label{
  font-family: Abril Fatface;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 16px;
}
