.movies-list {
    /* z-index: -60 !important; */
    margin-top: 80px !important;
    /* laptop good - check desktop / mobile screens */
    margin-left: 40px;
    /* background-image: url('theater-4023278_1920.jpg');
    width: 100%; */
    
}

.d-flex {
    /* z-index: -60 !important; */
}

.row {
    /* z-index: -60 !important; */
}

/* .spacer {
    margin-top: 100px !important;
    height: 200px !important;
    color: white !important;
} */