@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.brand-myflix {
  color:  white !important;
  font-family: Abril Fatface;
  text-shadow: 6px 6px 2px black;
  font-size: 40px;
  transition: all .3s ease-in-out;
  margin-top: 0px;
}

.brand-myflix:hover{
  color: transparent !important;
  text-shadow: 6px 6px 2px white;
}

 .navbar-link {
  font-family: Abril Fatface;
  /* color: rgb(226, 171, 171) !important; */

  font-size: 24px;
  /* text-shadow: 1px 1px 2px black; */
  /* font-family: Abril Fatface; */
  transition: all .3s ease-in-out;
  margin: auto 30px auto auto;
  text-shadow: 1px 1px 1px white;
}

.navbar-link:hover{
  color: white !important;
  
}

/* .navbar-link:last-child:hover .navbar-link:first-child{
  color: white !important;
  
} */



.navbar-main {
  display: flex;
  justify-content: space-between;
  /* background: white; */
  background-color: #510916;
  margin-bottom: 100px !important;
  position: fixed;
  top: 0;
  /* z-index: -1; */
  height: 80px;
  border-bottom: 2px inset black;
}

.container {
  margin-bottom: 2em;
}

/* .navbar-light .navbar-brand {
  color: #690f38;
  font-size: 30px;
} */

.card-column {
  margin-top: 2em;
}

.log-out-button:hover {
  cursor: pointer;
}
