@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* bg-image radial gradient colors
color1: #3244cb
color2: #440951 */

body {
  /* background-color: #e4ecf2; */
  /* font-family: staatliches; */
  /* background-image: url("theater-4023278_1920.jpg"); */
  background-image: url("image.png");
  background-size: cover;
  height: 100%;
}

h2 {
  font-family: Abril Fatface;
  color: white;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 400%;
  text-shadow: 5px 5px 2px black;
}

form {
  width: 550px;
  /* height: 450px; */
  margin: auto;
}

.login-form {
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  /* background: url("image.png"); */
  background-color: rgba(256, 256, 256, .1);
  padding: 30px 0px 40px;
  border-radius: 10px;
  /* background-image: url("image.png"); */
  /* background-image: url("th.jfif") */
}

.login-item {
  margin: 0px auto !important;
  color: white;
  /* background-color: white !important; */
  font-family: Abril Fatface;
  width: 80%;
}

.login-item .input {
  font-family: Abril Fatface;
  color: white !important;
  background-color: #510916 !important;
  opacity: 1 !important;
  box-shadow: 2px 2px 2px 2px black !important;
  transition: all .3s ease-in-out;
}

.login-item label {
  font-family: Abril Fatface;
  color: white;
  text-shadow: 2px 2px 5px black;
  /* background: url("image.png");
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
   */
  font-size: 18px;
  margin-top: 30px !important;
}

input {
  width: 375px;
  height: 25px;
  margin-bottom: 1em;
}

.login-buttons {
  margin-top: 50px;
  margin-bottom: 10px !important;
  text-align: center;
}

.button-login {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  background-image: url("image.png");
  
  /* background-color: #510916; */
  /* background-color: #440951; */
  opacity: 1;
  /* background-image: url("theater-4023278_1920.jpg"); */
  box-shadow: 2px 2px 2px black;
  transition: all 1s ease-in-out;
  /* border: 1px solid white; */
  border: 2px black !important;
}

/* background: linear-gradient(
    90deg,
    rgba(46, 39, 170, 1) 0%,
    rgba(168, 41, 193, 1) 41%,
    rgba(44, 74, 203, 1) 61%,
    rgba(199, 26, 198, 1)
  ); */
/* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

.button-register {
  width: 130px;
  height: 35px;
  border-radius: 2px;
  font-family: Abril Fatface;
  color: white;
  /* background-color: #440951; */
  background-image: url("image.png");
  
  /* background-color: #510916; */
  opacity: 1;
  /* background-image: url("theater-4023278_1920.jpg"); */
  box-shadow: 2px 2px 2px black;
  transition: all 1s ease-in-out;
  /* border: 1px solid white; */
  border: 2px black !important;
}

/* .button-login:hover,
.button-register:hover { */
  /* transform: scaleX() scaleY(); */
  /* color: white; */

  /* background-image: url("image.png"); */
  /* background-image: none;
  background-color: #440951; */

  /* box-shadow: 2px 2px 2px #440951;

  border: 2px #440951 !important;
} */

/* .button-login:visited,
.button-register:visited {
  border-color: white !important;
} */
*/ .login-view {
  /* background: transparent; */
  width: 100vw;
}

.form-input {
  position: relative;
  width: 60%;
  margin: 40px auto;
}

#formBasicUsername {
  color: white !important;
  background-color: #510916;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px black;
}

#formBasicPassword {
  color: white !important;
  background-color: #510916;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px black;
}

.validation-error {
  font-family: Abril Fatface;
  margin-top: -10px !important;
  margin-bottom: 3px;
  color: rgba(216, 9, 61, 1);
  text-shadow: 1px 1px 10px white;
}
