.visibility-filter {
  width: 40%;
  margin: 100px auto 0px;
  background: white;
  z-index: 1000 !important;
  position: fixed;
  top: -75px !important;
  /* laptop position */
  left: 380px;
  /* larger desktop position */
  /* left: 570px; */
  /* desktop position */
  /* left: 450px; */
  border: 2px inset black;
  font-family: Abril Fatface;
  color: white;
  font-weight: bolder;

}

.filter-container {
  background-color: transparent;
  height: 50px;
  width: 40%;
  position: fixed;
  top: 10px;
  left: 300px;
  z-index: 2000;

}

@media all and (max-width: 1080px){
  .visibility-filter{
    left: 310px;
  }
  .filter-container {
    left: 250;
  }
}